@import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");

body {
  margin: 0px;
  font-family: "Gluten", cursive;
  background-color: #8f5c18;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.jus-cen {
  justify-content: center;
}

.ali-cen {
  align-items: center;
}

.cen {
  justify-content: center;
  align-items: center;
}
